In [1]:
import pandas as pd

stock_info = pd.read_csv("../00_data/stock_daily_prices.csv", index_col="Date")
stock_info

,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
Date,,,,,,,,,
2012-01-12,60.198570,75.510002,30.120001,12.130000,175.929993,180.550003,28.250000,313.644379,1295.500000
2012-01-13,59.972858,74.599998,30.070000,12.350000,178.419998,179.160004,22.790001,311.328064,1289.089966
2012-01-17,60.671429,75.239998,30.250000,12.250000,181.660004,180.000000,26.600000,313.116364,1293.670044
2012-01-18,61.301430,75.059998,30.330000,12.730000,189.440002,181.070007,26.809999,315.273285,1308.040039
2012-01-19,61.107143,75.559998,30.420000,12.800000,194.449997,180.520004,26.760000,318.590851,1314.500000
...,...,...,...,...,...,...,...,...,...
2020-08-05,440.250000,174.279999,29.850000,16.719999,3205.030029,125.449997,1485.020020,1473.609985,3327.770020
2020-08-06,455.609985,172.199997,29.840000,18.459999,3225.000000,126.120003,1489.579956,1500.099976,3349.159912
2020-08-07,444.450012,170.020004,30.020000,19.030001,3167.459961,124.959999,1452.709961,1494.489990,3351.280029
2020-08-10,450.910004,179.410004,30.200001,21.650000,3148.159912,127.110001,1418.569946,1496.099976,3360.469971
2020-08-11,437.500000,180.130005,30.200001,21.500000,3080.669922,126.750000,1374.390015,1480.319946,3333.689941

# 문제1. 각 종목의 최고가와 최저가 찾기

In [2]:
max_prices = stock_info.max()
min_prices = stock_info.min()

print(f"종목별 최고가\n{max_prices}\n\n종목별 최저가\n{min_prices}")

종목별 최고가
AAPL      455.609985
BA        440.619995
T          43.470001
MGM        38.029999
AMZN     3225.000000
IBM       215.800003
TSLA     1643.000000
GOOG     1568.489990
sp500    3386.149902
dtype: float64

종목별 최저가
AAPL       55.790001
BA         67.239998
T          26.770000
MGM         7.140000
AMZN      175.929993
IBM        94.769997
TSLA       22.790001
GOOG      278.481171
sp500    1278.040039
dtype: float64

# 문제2. s&p500과 테슬라 간의 상관관계 분석

In [3]:
sp500_tsla = stock_info[["sp500", "TSLA"]]
sp500_tsla_corr = sp500_tsla.corr()

print(f"s&p500과 테슬라의 상관관계: {sp500_tsla_corr.iloc[0]["TSLA"]:.3f}")

s&p500과 테슬라의 상관관계: 0.704

# 문제3. 특정 기간(2012-01-12 ~ 2012-01-25) 동안 가장 많이 상승한 종목 찾기

In [4]:
change_pct = (stock_info.loc["2012-01-25"] - stock_info.loc["2012-01-12"]) / stock_info.loc["2012-01-12"] * 100

print(f"2012-01-12 ~ 2012-01-25 동안 가장 많이 상승한 종목: {change_pct.idxmax()}, 상승률: {change_pct.max():.3f}%")

2012-01-12 ~ 2012-01-25 동안 가장 많이 상승한 종목: MGM, 상승률: 8.079%